@import "tailwindcss";
body {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;

  
}
.p-text{
  color: #7C3BED;
}
.p-bg{
  background-color: #7C3BED;
}
.light-p-text{
  color: #EEE7FD;
}
.light-p-bg{
  background-color: #EEE7FD;
}

